
body {
  background-color: #4CAF50;
  color: #fff;
}

p {
  font-size: 20;
}

.hidden {
	display: none;
}

li {
  background-color: #FFEB3B;
    width: 160px;
    border-radius: 5px;
    padding: 10px;
}
